<!DOCTYPE html>
<html lang="en" data-theme="winter">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.46.1/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>ASIK</title>
  </head>

  <body>
    <%- include('partials/navbar') %>
    <div>
        <div class="flex justify-center my-4">
            <h1 class="text-4xl ">Diseases</h1>
          </div>
          <table class="table table-fixed table-compact w-full">
            <thead>
              <tr>
                <td>Name</td>
                <td >Description</td>
                <td>Level</td>
                <td>Symptoms</td>
              </tr>
            </thead>
            <tbody>
              <% diseases.forEach(x=>{%>
              <tr>
                <td><%= x.name %></td>
                <td class="truncate"><%= x.description %></td>
                <td ><%= x.level %></td>
                <td>
                  <% let data = x.Symptoms.map((el)=>{%> <% return el.name %>
                  <%}).join(',\n') %> <%= data %>
                </td>
              </tr>
      
              <%}) %>
            </tbody>
          </table>
    </div>
    
  </body>
</html>
