<!DOCTYPE html>
<html lang="en" data-theme="winter">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.46.1/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>ASIK</title>
  </head>

  <body>
    <%- include('partials/navbar-landing') %>

    <div class="flex justify-center my-4">
      <h1 class="text-4xl">Selamat datang di ASIK</h1>
    </div>
    <div class="flex justify-center my-4">
      <h1 class="text-xl">silahkan daftar</h1>
    </div>

    <div class="flex justify-center">
      <div class="flex card w-3/4 bg-base-100 shadow-xl justify-center">
        <div class="flex justify-center">
          <h2 class="card-title">Form Register</h2>
        </div>
        <% if (errors) { %>
            <div class="flex justify-center alert alert-error shadow-lg">
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="stroke-current flex-shrink-0 h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>
              </div>
              <span>
                <% errors=errors.split(',') %> <% errors.forEach(el=> { %> <%= el %> <%
                }) %>
              </span>
            </div>
            <% } %> 
        <div class="flex justify-center w-full pb-20 pt-5">
          <form
            action=""
            method="post"
            autocomplete="off"
            class="flex flex-col"
          >
            <div class="mb-3">
              <label for="firstName" class="form-label">First Name</label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                placeholder="ex: Patrick"
                name="firstName"
              />
            </div>
            <div class="mb-3">
              <label for="lastName" class="form-label">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="lastName"
                placeholder="ex: Star"
                name="lastName"
              />
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label">Phone Number</label>
              <input
                type="text"
                class="form-control"
                id="phone"
                placeholder="ex: 69696969"
                name="phone"
              />
            </div>
            <div class="mb-3">
              <label for="address" class="form-label">Address</label>
              <input
                type="text"
                class="form-control"
                id="address"
                placeholder="ex: PurwoDaddy"
                name="address"
              />
            </div>
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                placeholder="ex: javascript"
                name="username"
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="ex: javascript@example.com"
                name="email"
              />
            </div>
            <div class="mb-9">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="ex: password123"
                name="password"
              />

              <div class="form-group">
                <label for="role">Role</label>
                <select class="form-control" id="role" name="role">
                  <option selected disabled>--choose the role--</option>
                  <option value="patient">Pasien</option>
                  <option value="doctor">Dokter</option>
                </select>
              </div>

              <div class="form-group">
                <label for="role">Penyakit</label>
                <select class="form-control" id="role" name="DiseaseId">
                  <option value="" selected disabled>
                    --choose the role--
                  </option>
                  <% diseases.forEach(x=>{%>
                  <option value="<%= x.id %>"><%= x.name %></option>
                  <%}) %>
                </select>
              </div>
            </div>
            <button type="submit" class="btn btn-outline-primary">
              Register
            </button>
          </form>
        </div>
      </div>
    </div>

    
    <%- include("./partials/footer") %>
  </body>
</html>
