<!DOCTYPE html>
<html lang="en" data-theme="winter">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.46.1/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>ASIK</title>
  </head>

  <body>
    <%- include('partials/navbar') %>

    <div class="">
      <div class="flex justify-center my-4">
        <h1 class="text-4xl">Patients</h1>
      </div>
      <div class="my-4">
        <form action="/users" method="get" class="flex flex-row">
          <input
          class="basis-3/4"
            type="text"
            name="search"
            placeholder="  Input username you wanna search"
          />
          <button type="submit" class="btn btn-info basis-1/4">
            Search By Username
          </button>
        </form>
      </div>

      <table class="table table-compact w-full">
        <thead>
          <tr>
            <td>NAME</td>
            <td>USERNAME</td>
            <td>ADDRESS</td>
            <td>ROLE</td>
            <td>DISEASE</td>
            <td>OPTIONs</td>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(x=>{%>
          <tr>
            <td><%= x.Contact.fullName() %></td>
            <td><%= x.username %></td>
            <td><%= x.Contact.address %></td>
            <td><%= x.role %></td>
            <td><%= x.Disease.name %></td>
            <td>
              <a href="/users/<%= x.id %>/edit" class="btn btn-warning btn-sm"
                >Edit</a
              >
              <a href="/users/<%= x.id %>/delete" class="btn btn-error btn-sm"
                >Delete</a
              >
            </td>
          </tr>

          <%}) %>
        </tbody>
      </table>
    </div>
  </body>
</html>
